[submodule "engine"]
	path = engine
	url = https://github.com/xanytka-devs/firesteel.git
[submodule "external/PortAudio"]
	path = external/PortAudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/aubio"]
	path = external/aubio
	url = https://github.com/aubio/aubio.git
